
li.hlavneMenuItem {
    border-right: 1px solid rgba(107,173,95,0.34);
}
h1{
    font-size:40px;
  }
  h2{
    font-size:25px;
  }
  h3{
    font-size:20px;
  }
  .carousel-item {
    height: 698px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .item-margin{
    margin-top:50px;
  }
  nav{
    background-color:#fff!important;
  }
  nav ul li a{
    color:#000;
    text-transform: uppercase;
    font-weight: 500;
  }
  .user-article-wrapper{
    padding:2%;
    background-color: #fff;
    border-color:#f7f7f7;
    border-style:solid;
    border-width: 2px;
    box-shadow: 10px 10px 5px #f7f7f7;
    margin-top:2%;
    margin-bottom:2%;
  }
  .user-posts-main-title{
    margin-top:2%
  }
  .user-post-title, .card-title, .tag-name{
    text-transform:uppercase;
  }
  .tag-name{
    font-size:18px;
  }